﻿@model Visitors.Models.VisitorsViewModels.CreateVisitorViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
   // var list = ViewBag["GenderList"];
    object obj;
    ViewData.TryGetValue("GenderList", out obj);
    var list = obj as SelectList;
}
<style>
    
    .form-group {
        padding-bottom: 25px;
    }
</style>
<h2>Добавить посетителя</h2>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6
         col-xs-12 col-lg-offset-4 col-md-offset-3
         col-sm-offset-3 col-xs-offset-0">
        @using (Html.BeginForm("Create", "Visitors", FormMethod.Post))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <select asp-for="Gender" asp-items="@list" class="form-control" ></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IIN" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <input asp-for="IIN" class="form-control" />
                    <span asp-validation-for="IIN" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <textarea asp-for="Address" class="form-control"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                     <button type="submit" class="btn btn-default btn-primary">Добавить</button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}