﻿@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Visitors.Models.VisitsViewModels.VisitViewModel>
@{
    ViewData["Title"] = "Index";
}

<h3>Посещения</h3>

<table class="table table-striped">
    <tr>
        <td>Кто</td>
        <td>К кому</td>
        <td>Время</td>
        <td>Этаж</td>
        <td>Кабинет</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.VisitorPerson</td>
            <td>@item.VisitedPerson</td>
            <td>@item.VisitTime</td>
            <td>@item.Floor</td>
            <td>@item.Room</td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page=>Url.Action("Index", new {page=page}))